.HeroCard{
    width: 30%;
    text-align: center;
    margin: 10px;
    margin-top: 0;
    background-color: #A7C4BC;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;


    p{
        font-weight: bold;
        color: #444444;
        font-size: 12px;
    }
    img{
        width: 100%;
        
        margin-top: 10px;
        margin-bottom: 10px;
    }
    button{
        margin-right: 20px;
        border-radius: 5px;
        border-style: none;
        border:#2F5D62 1px solid;
        width: 50px;
    }
}

.hero-card-container{
    
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;
}



@media screen and (max-width: 800px) {
    .HeroCard{
        width: 45%;
        margin: 0px auto 20px auto;
    }

    .hero-card-container{
        flex-grow: 3;
    }
}

@media screen and (max-width: 600px) {
    .HeroCard{
        width: 70%;
        margin: 0px auto 20px auto;
    }
    .hero-card-container{
        flex-grow: 3;
    }
}

