.liitle-hero-container{
    width: 30%;
    flex-grow: 1;
}

.LittleHero{
display: flex;
justify-content: space-between;
align-items: center;
background-color: #A7C4BC;
width: 80%;
padding: 5px;
margin: 10px;
margin-top: 0;
border-radius: 10px;

&:hover .remove{
    display: block;
}
img{
    display: block;
    height: 30%;
}

p{
    font-size: 10px;
    width: 80%;
    text-align: right;

}
    

}
.my-heroes{
    text-align: center;
    color: #444444;

    h3{
        
        display: inline-block;
    }
}

.remove{
    display: block;
    margin: 10px auto;
    border-radius: 5px;
    border: none;
    padding: 5px;
    
    
}


@media screen and (max-width: 800px) {
   .LittleHero{
width: 50%;

img{
    width: 80px;
}

p{
    display: none;
}
   }

   .wrapper{
       padding: 0;
   }

   .remove{
       font-size: 8px;
   }
}


@media screen and (max-width: 600px) {
    .LittleHero{
        width: 50%;

        img{
            width: 60px;
        }

        p{
            display: none;
        }
           }
}





