.Header{
    background-color: #7d7d7d;
    color: #DFEEEA;
    font-size: 60px;
    margin-bottom: 40px;
    padding-bottom: 10px;
    img{
        margin-top: 20px;
        height: 100px;
    }
}

@media screen and (max-width: 800px){
    .Header{
        text-align: center;
    }
}

@media screen and (max-width: 600px){
    .Header{
        text-align: center;
    }
}

